# Ignore bundler config.
/.bundle

# Ignore precompiled assets
/public/assets/**

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore temporary fs files
/public/system

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret

# Ignore IDE files
*.iml

# Ignore config files
database.yml
environment.yml
