	<div id="insta-footer" class="clear">
		<div class="row" id="footer-company">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<!--a href="#"><h5>
							<a href="https://twitter.com/share" class="twitter-share-button" data-text="Custom cases for iPhone 5/5s for only $10" data-via="DeliciousCases" data-size="large">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						</h5></a-->
						<div class="pull-right" id="social-icons">
				      
				      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.casehappy.co" data-text="Get a custom iPhone case for only $20!" data-via="imcasehappy">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				      <!--a href="#"><img src="/images/icon-linkedin.svg"></a-->
				      <a href="https://www.facebook.com/pages/CaseHappy/395047120635012"><img src="/images/icon-facebook.svg"></a>
			      </div>
					</div>

				</div>
			</div>
		</div>
			
	</div>