<ul class="nav navbar-nav navbar-right">
  <!--li> <%= link_to("Sign up", new_user_registration_path, id: "header-signup") %></li>
  <li> <%= link_to("Login", new_user_session_path, id: "header-login") %></li-->
  <li><h4><span class="label label-success" style="margin-right: 20px;">Free US Shipping - Ends 5/15</span></h4></li>
  <li><a href="/carts/<%= @cart.id %>"><span class="glyphicon glyphicon-shopping-cart"><%= @cart_items %></span></a> </li>
</ul>